/* Set the font family and text alignment for the .App class */
.App {
  font-family: arial, sans-serif;
  text-align: center;
}
.App .display {
  text-align: center;
}
nav {
  background-color: #491224;
}

h1 {
  font-weight: bold;
  color: white;
}

input[type="userName"],
input[type="password"],
textarea {
  background-color: #df386f;
}
.password-input {
  background-color: #df386f; /* Default color */
}
.invalid-input-message {
  color: red;
}
.valid-input-message {
  color: green;
}
